.sb-copyright p {
  text-align: center;
}

.sb-copyright a {
  color: var(--pico-color);
  text-decoration: none;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

footer.sb-footer {
  margin-top: auto;
}

main {
  flex: 1;
}

ul.user-list li article {
  display: flex;
  justify-content: space-between;
}

ul.user-list li {
  list-style: none;
}
