<footer class="sb-footer">
  <div class="sb-copyright">
    <p>
      <%= appName %>
      ©
      <%= new Date().getFullYear() %>
      <br />
      Built with ❤️ by
      <a href="https://sarawebs.com" target="_blank" rel="noopener">
        SaraWebs
      </a>
    </p>
  </div>
</footer>
